.age {


  &__wrap {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__hero {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }

  &__lines {
    height: 1.5px;
    background-color: black;
    width: 680px;
    margin-top: 36px;
  }

  &__line {
    height: 1.5px;
    background-color: black;
    margin-top: 20px;
    width: 680px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    font-family: Montserrat Alternates;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.5px;
    margin-top: 15px;
    text-align: center;
    margin-top: 36px;
  }

  &__input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 25px;
  }

  &__input-year {
    width: 200px;
    border-radius: 20px 0 0 20px;
    background: #d7d7d7;
    border: none;
    outline: none;
    box-shadow: 1px 3px 0px 0px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    padding: 10px;
    font-family: "Montserrat Alternates";
    font-weight: 400;
  }

  &__input-year::placeholder {
    color: #7E7E7E;
    font-size: 13px;
    font-family: "Montserrat Alternates";
    font-weight: 400;
    display: block;
    text-align: center;
  }

  &__search-year {
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 8px;
    padding-right: 10px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    background-color: #000;
  }

  &__check {
    text-align: center;
    color: #000;
    margin-left: 120px;
    min-width: 300px;
    max-width: 310px;
    font-family: "Montserrat Alternates";
  }
}