.footer {
    padding: 20px 0;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__img {
        width: 165px;
        height: 70px;
        background-image: url(../img/coding.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__link {
        color: #000;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
    }

    &__box {
        display: flex;
        align-items: center;
        gap: 135px;
    }

    &__input {
        display: inline-flex;
        padding: 10px 80px 10px 10px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 20px;
        background: #D7D7D7;
        color: #7E7E7E;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;
        border: none;
        outline: none;
    }

    &__btn {
        display: inline-flex;
        padding: 10px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 20px;
        background: #000;
        color: #FFF;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;
        margin-left: 36px;
    }

    &__text {
        color: #000;
        font-family: "Montserrat Alternates";
        font-size: 6px;
        font-weight: 400;
        margin-top: 18px;
    }
}