.guessNum-text{
    color: #000;
font-family: "Montserrat Alternates";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.guessBtn{
    display: inline-flex;
padding: 10px;
align-items: flex-start;
gap: 10px;
border-radius: 0 20px 20px 0;
background: #000;
}