.team-slider {
  text-align: center;

  &__title {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 16px;
    font-weight: 400;
    padding-top: 36px;
  }

  &__line {
    height: 1.5px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;

  }

  &__content {
    position: relative;
    width: 220px;
    height: 260px;
    overflow: hidden;
  }

  &__item {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 282px;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__avatar {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    background: #d9d9d9;
    border-radius: 12px;
  }

  &__img {
    width: 150px;
    height: 150px;
    border-radius: 12px;
  }

  &__name {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 14px;
    font-weight: 500;
  }

  &__info {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 400;
  }

  &__arrow {
    stroke: #000;
    background: transparent;
    
    svg {
      width: 50px;
      height: 100px;
    }

    &--left svg {
      transform: scaleX(-1);
      // margin-right: 328px;
    }

    &--right svg {
      transform: scaleX(1);
      // margin-left: 328px;
    }
  }

  &__dots {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 6px;
  }
}

.team-slider__dots span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #ccc;
  border-radius: 2px;
  transition: background 0.3s;
}

.team-slider__dots span.active {
  width: 40px;
  background-color: #333;
}