<section class="age">
    <div class="container">
        <p class="age__text">Перевір в який рік ти народився</p>
        <div class="age__box">
            <div class="age__input-box">
                <input type="text" class="age__input-year" id="ageInput" placeholder="Введіть рік народження" />
                <button id="checkButton" class="age__search-year" type="button" aria-label="button confirm">
                    <img width="15px" height:="15px" src="./img/search.png" alt="search">
                </button>
                <p id="result" class="age__check">Введіть рік народження</p>
            </div>
            <div class="age__line"></div>
        </div>
    </div>
</section>