
<section class="calculator">
<div class="container">
    <div class="calculator__line"></div>
<div class="calculator__box">
    <h1 class="calculator__text">Калькулятор</h1>
    <div class="calculator__inputs">
      <input type="number" id="num1" placeholder="Введіть число">
      
      <div class="calculator__operations">
        <button class="calculator__btn" id="plus">+</button>
        <button class="calculator__btn" id="multiplication">*</button>
        <button class="calculator__btn" id="minus">-</button>
        <button class="calculator__btn" id="division">/</button>
      </div>
      
      <input type="number" id="num2" placeholder="Введіть число">
      <button id="calculate">=</button>
      <input type="text" id="result" placeholder="Результат" readonly>
    </div>
  </div>
  <div class="calculator__line-bottom"></div>
</div>
  </section>