<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__box">
                <img src="../img/coding.png" alt="" class="footer__img">
                <ul>
                    <li><a target="_blank" href="tel:+380961111111" class="footer__link">Тел: +38 (123) 456 78 90</a></li>
                    <li><a target="_blank" href="mailto:codingmagic@gmail.com" class="footer__link">E-Mail: codingmagic@gmail.com</a></li>
                    <li><a target="_blank" href="https://www.facebook.com/?locale=ua_UA" class="footer__link">Facebook: CodingMagic</a></li>
                    <li><a target="_blank" href="https://x.com/" class="footer__link">Twitter: CodingMagic</a></li>
                    <li><a target="_blank" href="https://www.instagram.com/" class="footer__link">Instagram: CodingMagic</a></li>
                </ul>
            </div>
            <div>
                <form class="footer__form">
                    <input type="email" placeholder="Ваша ел. адреса..." class="footer__input" required>
                    <button type="submit" class="footer__btn">Підписатись</button>
                    <p class="footer__text">*Підписавшись, Ви зможете ортимувати інформацію про новинки на сайті</p>
                </form>
            </div>
        </div>
    </div>
</footer>
<div class="backdrop is-hidden">
    <div class="modal">
        <button class="backdrop__btn"><img src="../img/close.png" class="backdrop__img" alt="close"></button>
        <p class="backdrop__text">Дякую за підписку!</p>
        <img src="./img/sword.png" class="backdrop__icons" alt="sword">
        <img src="./img/puzzle.png" class="backdrop__icons" alt="puzzle">
        <img src="./img/tic-tac.png" class="backdrop__icons" alt="game">
        <img src="./img/console.png" class="backdrop__icons" alt="code">
    </div>
</div>