<header class="header">
  <div class="container">
    <div class="header__logo">
      <a href="#">Coding <span>Play</span></a>
    </div>

    <nav class="header__nav">
      <ul class="header__list">
        <li><a href="#">Ігри</a></li>
        <li><a href="#">Курси</a></li>
        <li><a href="#">Проєкти</a></li>
        <li><a href="#">Контакти</a></li>
      </ul>
    </nav>
    <button class="theme-toggle" id="themeToggle" aria-label="Перемикач теми">
      🌞
    </button>
  </div>
</header>
