<header class="header">
  <div class="container">
    <div class="header__logo">
      <a href="#">Coding <span>Play</span></a>
    </div>

    <nav class="header__nav">
      <ul class="header__list">
        <li><a href="#">Ігри</a></li>
        <li><a href="#">Курси</a></li>
        <li><a href="#">Проєкти</a></li>
        <li><a href="#">Контакти</a></li>
      </ul>
    </nav>

    <div class="header__actions">
      <label class="theme-switch">
        <input type="checkbox" id="themeToggle" />
        <span class="slider"></span>
      </label>
      <span class="welcome-text">Вітаємо, user</span>
    </div>
  </div>
</header>
