<section class="smart">
    <div class="container">
        <div class="smart__line"></div>
        <p class="smart__text">Обери вченого/их</p>
        <ul class="smart__list"></ul>
        <ul class="smart__items">
            <li class="smart__elem"><button data-action="19st" type="button" class="smart__btn">
                    Які вчені народилися в 19 ст.
                </button></li>
            <li class="smart__elem"><button data-action="sum-all" type="button" class="smart__btn">
                    Знайти суму років скільки прожили всі вченні
                </button></li>
            <li class="smart__elem"><button data-action="albert" type="button" class="smart__btn">
                    Знайти рік народження Albert Einstein
                </button></li>
            <li class="smart__elem"><button data-action="alvabet" type="button" class="smart__btn">
                    Відсортувати вчених за алфавітом
                </button></li>
            <li class="smart__elem"><button data-action="surname-c" type="button" class="smart__btn">
                    Знайти вчених, прізвища яких починаються на на літеру “С”
                </button></li>
            <li class="smart__elem"><button data-action="all-age" type="button" class="smart__btn">
                    Відсортувати вчених за кількістю прожитих років
                </button></li>
            <li class="smart__elem"><button data-action="delete-a" type="button" class="smart__btn">
                    Видалити всіх вчених, ім’я яких починається на “А”
                </button></li>
            <li class="smart__elem"><button data-action="dead-age" type="button" class="smart__btn">
                    Знайти вченого, який народився найпізніше
                </button></li>
            <li class="smart__elem"><button data-action="old-yonger" type="button" class="smart__btn">
                    Знайти вченого, який прожив найдовше і вченого, який прожив найменше
                </button></li>
            <li class="smart__elem"><button data-action="leters-name-surname" type="button" class="smart__btn">
                    Знайти вчених, в яких співпадають перші літери імені і прізвища
                </button></li>
            <li class="smart__elems"><button data-action="work-19st" type="button" class="smart__btn">
                    Дізнатися чи всі вченні працювали в 19 столітті
                </button></li>
        </ul>
    </div>
</section>