<section class="snake">
    <div class="container snake__wrap">
        <div class="snake__border"></div>
        <p class="snake__text">Google змійка</p>
        <div class="game-wrapper">
            <canvas id="game" width="608" height="608"></canvas>
            <button id="restartBtn" class="hidden">Restart</button>
            <button id="pauseBtn">Pause</button>
            <div data-snake="backdrop" class="snake__backdrop">
                <button type="button" data-snake="play" class="snake__play">Start</button>
            </div>
        </div>
        <p class="snake__tt">Почніть гру та натискайте ліву та праву стрілки для руху змійки</p>
    </div>
</section>