<section class="time">
    <div class="container time__container">
        <p class="time__title">Калькулятор часу</p>
        <div class="time__div">
            <form class="time__form" action="">
                <div class="time__input-wrapper">
                    <input id="time-input" class="time__input" type="search" placeholder="Введіть число">
                    <button id="time-button" class="time__button" type="button">
                        <img width="15px" src="./img/search.png" alt="search">
                    </button>
                </div>
            </form>
            <div class="time__line"></div>
            <p id="time-text" class="time__text">0 дн. 00:00:00</p>
        </div>
    </div>
</section>